@media screen and (min-width:768px) and (max-width:1023px) {

.hamburger{padding-top:20px;
          padding-bottom:20px;
          padding-left:20px;}
    h1 {font-size:48px;}
    h2 {font-size:28px;
        margin-top:3%;}
    .buttons {padding-bottom: 5%;
              padding-top:0%;}
    .button-header {width:33%;
                    padding:2% 0%;
                    font-size: 14px;}
    .button-header:first-child {margin-top:0%;}
    .button-header:last-child {margin-top:3%;}
    .content2-left {height:250px;}
    h3 {font-size: 24px;
        padding-bottom: 3%;}
    h4 {font-size:18px;}
    .button-2 {margin-top:2%;
               font-size:16px;
               padding:2% 5%;}
    .contenuto2-right {height:300px;}
    .contenuto3-right {height:290px;}
    .contenuto3-left {height:300px;}
    h5 {font-size:22px;}
    .button-models {font-size:14px;
                    margin-bottom:1.5%;
                    margin-top:1.5%;}
    .contenuto-4 {margin-top:0%;}
    .grid figure {height: 300px;}
    .grid2 figure {height: 180px;}
    .li-footer a {font-size:14px;
                  line-height: 36px;}
    .footer-right a {font-size:16px;}
    .footer-center img {width:15%;}
    .footer-center img:hover {width:6%;}
}









@media screen and (max-width : 767px){
    .ul-menu {
        margin:0%;
        text-align: center;
        position: static;
        display: none;
        width:100%;
    }
    
    .hamburger {padding-top:14px;
              padding-bottom:10px;
              padding-left:10px;
              float:left;
              }
    label:after {content: "";
                 display: block;
                 clear:both;}
    .li-menu {background-color:mistyrose;
        margin-bottom: 1px;
    }
    .li-menu a {padding:0px;
         margin:5px;
         color:#202632;}
  
    .li-menu, .li-menu a {
        width: 100%;
    }
  
    .show-menu {padding:10px,0px;;
        display:block;
    }
    
    .logo {display: none;}
    .menu.sticky .hamburger {width:20px;}
    .menu.sticky {background-color:#202632;
              opacity: 1;
              height: auto;}
    h1 {font-size:30px;
        margin-top:6%;
        margin-left:4%;
        margin-right:4%;}
    h2 {font-size: 18px;
        margin-left:4%;
        margin-right:4%;
        margin-top:6%;}
    .button-header {width:40%;
                    padding:2% 2%;
                    margin-left:30%;
                    margin-right:30%;
                    margin-top:4%;
                    font-size: 12px;}
    .contenuto-2 {display: block;
                  margin-top: 80px}
    .contenuto2-left {float:none;
                    flex:none;
                    width:100%;
                    height:200px;}
    h3 {font-size: 20px;
        padding-top:2px;}
    h4 {font-size:14px;}
    .button-2{padding:2% 10%;
              font-size:12px;}
    .contenuto2-right {float:none;
                     width:100%;
                     height:200px;}
    .contenuto-3 {display: block;
               display: -webkit-box;
               display: -moz-box;
               display: box;
              -webkit-box-orient: vertical;
              -moz-box-orient: vertical;
              box-orient: vertical;
    margin-top: 80px;}
    .contenuto3-right {float:none;
                     width:100%;
                     height:200px;
                     -webkit-box-ordinal-group: 2;
                     -moz-box-ordinal-group: 2;
                     box-ordinal-group: 2;}
    .contenuto3-left {float: none;
                    width:100%;
                    height:200px;
                    flex:none;
                    -webkit-box-ordinal-group: 3;
                    -moz-box-ordinal-group: 3;
                    box-ordinal-group: 3;;}
    .contenuto-4 {margin: 80px 0;}
    h5 {font-size: 18px;
        padding-top:2%;}
    .button-models  {font-size:12px;
                     padding:1% 2%;
                     margin-top:2%;
                     margin-bottom: 3%;}
    .grid figure {height:280px;
                  width:50%;
                  margin-right:24.5%;
                  margin-left:24.5%;}
    .grid2 {
        margin-bottom: 80px;
    }
    .grid2 figure {width:50%;
                   margin-right:24.5%;
                   margin-left: 24.5%;
                   height:180px;}
    .footer-left {width:100%;
                 margin:0% auto;
                 text-align: center;}
    .ul-footer   {padding:0%;}
    .li-footer a{font-size: 12px;
                 line-height: 24px;}
    .footer-center {width:100%;
                    margin-top:0%;
                    margin-bottom: 3%;}
    .footer-center img {padding:3%;
                        width:8%;}
    .footer-center img:hover {width:8%;}
    .footer-right {width:100%;
                   margin:0%;
                   text-align:center;
                   margin-bottom: 5%;}
    .footer-right a {font-size: 14px;}
    
}

